
@{
    ViewBag.Title = "JobSeeker";

}

<style>
    #cssmenu > ul > li.has-sub > a::after {
        top: 60px;
        text-align: left;
    }

    label span {
        color: red;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<div class="menutoprel dashboardmenu">
    <div class="topheaderbg">
        <div class="toplogosection fade-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"><div class="toplogo "><a href="@Url.Content("~/")"><img src="@Url.Content("~/")images/jobs4bahrainislogo.png" alt="" /></a></div></div>
                    <div class="col-md-11 pull-left">

                        @Html.Partial("_BOmenu")
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<br />
<div class="dashboardsection mainlightgraybg">
    <div class="container">

        <div class="col-md-12 fade-1 dashboardwhiteboxshadow" style="min-height:400px">
            <h1 class="mainpagetitle Padd15 centertext"> <span>EMPLOYER </span> ACTIVATED</h1>
            <br />
            <br /><br />
 
<br /><br />
<br />
           <p style="margin:0 0 0 50px">You've successfully activated the Employer. </p>

            <br />
            <br /><br />
<br /><br />
<br /><br />
<br /><br />
<br />
            <br />
            <hr />

            <br />
            <br />





        </div>
    </div>
</div>

