
@{
    ViewBag.Title = "CanRegSuccess";
    Html.RenderAction("menulogin");
}
@Html.Partial("_menu")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 

<br />
<div class="dashboardsection mainlightgraybg">
    <div class="container">
        

        <div class=" fade-1 dashboardwhiteboxshadow" style="min-height:400px;">



            
            <div class=" col-md-8 text-center col-lg-offset-2 fade-2  ">
                <br style="clear:both" />
               
                <h1 class="mainpagetitle centertext  fade-1"> <span>JOB SEEKER</span> REGISTRATION</h1>


                <br style="clear:both" />
                <br style="clear:both" />
                <br style="clear:both" />

                <p>

                    ‘Congratulations you have successfully registered on the Jobs4Bahrainis career platform- Please check your email to activate your account.

                </p>

                <p>Your basic jobseeker profile is now complete however in order to stay ahead of the competition the J4B team recommend you complete the remaining information fields through your dashboard.</p>

                <br style="clear:both" />
            </div>
        </div>
    </div>
</div>

@Html.Partial("_partners")
