
@{
    ViewBag.Title = "About Us";
    Html.RenderAction("menulogin");
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<br />
<div class="dashboardsection mainlightgraybg">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 fade-1 dashboardwhiteboxshadow">
                <h1 class="mainpagetitle Padd15">ABOUT <span>US</span></h1>
                <br />
                <div class="col-md-12">

                    <div class="col-md-12 fade-1">
                        <p><b>Encouraging Bahraini nationals to enter the local work force!</b></p>
                        <p>
                            Launched in 2010 Jobs4Bahrainis.com is a unique interactive job portal fully dedicated to supporting and encouraging Bahraini nationals to enter the local work force. Jobs4Bahrainis.com if the first and largest service of its type in Bahrain, providing employers with access to Bahraini talent and enabling Bahraini nationals to search for job opportunities within their specialized or preferred employment sectors.
                        </p><p>

                            Jobs4Bahrainis.com is a joint venture with Gulf Connexions who is the leading executive search firm headquartered in the Middle East.
                        </p><p>

                            With a core mission to get Bahrainis into the local workforce, Jobs4Bahrainis is aligned with Bahrain governments Economic Vision 2030 and enjoys support from some of the kingdoms leading local and international companies.
                        </p><p>

                            J4B is an excellent vehicle to encourage broader employer-employee matchmaking. It will also serve as a showcase to consolidate many other initiatives in Human Capital Development such as professional and vocational training, employment initiatives and training on work readiness skills.
                        </p><p>

                            The unique J4B community offers job seekers- from fresh graduates to experienced professionals- a wealth of career related information on one easy to navigate platform from the latest job opportunities to value added career guidance services with dedicated pages on CV writing tips and CV templates to interview tips and techniques and much more.
                        </p><p>

                            Jobs4Bahrainis.com has become the most comprehensive CV database of graduates and experienced professional Bahraini talent, which is an unrivalled recourse developed by Gulf Connexions over the past 8 years.
                        </p>
                        <br />
                        <br />
                        <br />
                    </div>


                </div>
            </div>
        </div>
    </div>
        </div>



@Html.Partial("_partners")






