
@{
    ViewBag.Title = "ContactUs";
    Html.RenderAction("menulogin");
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
 <br />
<div class="dashboardsection mainlightgraybg">
    <div class="container">
        
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 fade-1 dashboardwhiteboxshadow">
                <h1 class="mainpagetitle Padd15">CONTACT <span>US</span></h1>
                <br />
               <div class="col-md-12"> We love to hear from you. Please send us your feedback.</div>
                <br />
                <div class="searchformsec">
                    <div class="col-md-12">
                        <input name="" type="text" placeholder="Name">
                    </div>
                    <br style="clear:both" /><br />
                    <div class="col-md-12">
                        <input name="" type="email" placeholder="Email ID">
                    </div>
                    <br style="clear:both" /><br />


                    <div class="col-md-12">
                        <input name="" type="text" placeholder="Phone">
                    </div>
                    <br style="clear:both" /><br />


                    <div class="col-md-12">
                        <input name="" type="text" placeholder="Comments">
                    </div>
                    <br style="clear:both" /><br />
                    <div class="col-md-3">
                        <input name="" type="submit" value="Send">
                    </div>
                    <br style="clear:both" /><br />
                    <br style="clear:both" /> 

                </div>
            </div>

            <br />
            <br />
            <br />
        </div>
    </div>
</div>
 
 
 
@Html.Partial("_partners")






