
@{
    ViewBag.Title = "Media Center";
    Html.RenderAction("menulogin");
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<br />
<div class="dashboardsection mainlightgraybg">
    <div class="container">

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 fade-1 dashboardwhiteboxshadow">
                <h1 class="mainpagetitle Padd15">MEDIA <span>CENTRE</span></h1>
                <br />
                <div class="testimoneal-carousel centertext wow fade-1-5">
                    <div class="item">
                        <div class="testimonialwhitebg">
                            <a href="http://www.jobs4bahrainis.com/EN/images/pressreleaseJ4BMSB.jpg" target="_blank">
                                <img src="http://www.jobs4bahrainis.com/EN/images/pressreleaseJ4BMSB.jpg" style="width:300px;height:350px" />
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimonialwhitebg">
                            <a href="http://www.jobs4bahrainis.com/EN/images/AAKJobs4Bahrainistohostkeyseminar.jpg" target="_blank">
                                <img src="http://www.jobs4bahrainis.com/EN/images/AAKJobs4Bahrainistohostkeyseminar.jpg" style="width:300px;height:350px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonialwhitebg">
                            <a href="http://www.jobs4bahrainis.com/EN/images/GDNJobs4Bahrainistohostkeyseminar.jpg" target="_blank">
                                <img src="http://www.jobs4bahrainis.com/EN/images/GDNJobs4Bahrainistohostkeyseminar.jpg" style="width:300px;height:350px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonialwhitebg">
                            <a href="http://www.jobs4bahrainis.com/EN/images/AAKJobs4bahrainisholdsfirstcareerseminar.jpg" target="_blank">
                                <img src="http://www.jobs4bahrainis.com/EN/images/AAKJobs4bahrainisholdsfirstcareerseminar.jpg" style="width:300px;height:350px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonialwhitebg">
                            <a href="http://www.jobs4bahrainis.com/EN/images/GDNJobs4bahrainisholdsinauguralcareerseminar.jpg" target="_blank">
                                <img src="http://www.jobs4bahrainis.com/EN/images/GDNJobs4bahrainisholdsinauguralcareerseminar.jpg" style="width:300px;height:350px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonialwhitebg">
                            <a href="http://www.jobs4bahrainis.com/EN/images/MySolutionInfoJobs4bahrainisholdsinauguralcareerseminar.jpg" target="_blank">
                                <img src="http://www.jobs4bahrainis.com/EN/images/MySolutionInfoJobs4bahrainisholdsinauguralcareerseminar.jpg" style="width:300px;height:350px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonialwhitebg">
                            <a href="http://www.jobs4bahrainis.com/EN/images/TradeArabiaJobs4bahrainisholdsfirstcareerseminar.jpg" target="_blank">
                                <img src="http://www.jobs4bahrainis.com/EN/images/TradeArabiaJobs4bahrainisholdsfirstcareerseminar.jpg" style="width:300px;height:350px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonialwhitebg">
                            <a href="http://www.jobs4bahrainis.com/EN/images/ZawyaJobs4bahrainisholdsinauguralcareerseminar.jpg" target="_blank">
                                <img src="http://www.jobs4bahrainis.com/EN/images/ZawyaJobs4bahrainisholdsinauguralcareerseminar.jpg" style="width:300px;height:350px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonialwhitebg">
                            <a href="http://www.jobs4bahrainis.com/EN/images/AAKNews08Jul2013.jpg" target="_blank">
                                <img src="http://www.jobs4bahrainis.com/EN/images/AAKNews08Jul2013.jpg" style="width:300px;height:350px" />
                            </a>
                        </div>
                    </div>

                </div>
                <br />
                <br />

            </div>
        </div>
    </div>
        </div>

        @Html.Partial("_partners")






