
@{
    ViewBag.Title = "Recruiter Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_menu")

<div class="homesearchsection mainlightgraybg PTb60">
    <div class="container">
        <h1 class="mainpagetitle centertext wow fade-1"> <span>PAYMENT SUCCESS</span></h1>
        <div class="row">


            <div class="registerformsec MTB30">
                <div class="container">
                    <div class="col-md-12">
                        <div class="col-md-12 centertext wow fade-1" style="height:400px;">

                            <p>You've successfully made the payment and your account is active. 
                            <br />
                            You can now proceed to Post Jobs and search for Candidates!</p>
                        </div>
                    </div>
                    
                </div>
            </div>


        </div>
    </div>
</div>
 