


@{
    ViewBag.Title = "Signout";
    Html.RenderAction("menulogin");
}
<br />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <div class="dashboardsection mainlightgraybg">
    <div class="container">

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 fade-1 dashboardwhiteboxshadow"  style="min-height:400px">
                <h1 class="mainpagetitle Padd15 centertext">SIGN <span>OUT</span></h1>
                <br />
                <div class="col-md-12">

                    <div class="col-md-12 centertext fade-2">
                        <br />
                        <br />
                        <br />
                        <p>You've successfully signed out!</p>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

 



@Html.Partial("_partners")






